<!-- Product card 1 -->
<div class="col-3" style="flex: 1 0 calc(33.33% - 10px);">
    <div data-id="HSM004700" class="product-card">
        <!-- Thumbnail -->
        <div class="product-thumbnail">
            <div class="product-label-new">Mới</div>
            <div class="product-favorite">
                <div class="icon-wishlist"></div>
            </div>
            <div class="figure">
                <img class="Sirv image-main"
                     src={{product.images.[0]}}
                     data-src={{product.images.[0]}}>
                <img class="Sirv image-hover"
                     data-src={{product.images.[1]}}>
            </div>
        </div>
        <!-- Info -->
        <div class="product-info">
            <!-- Properties -->
            <div class="product-property d-flex align-items-center justify-content-between">
                <div class="product-number-size"> 7 Size</div>
                {{!-- <div class="product-number-color"> 2 màu sắc</div> --}}
            </div>
            <!-- Title -->
            <div class="product-name" style="height: 3rem">
                <a href="#">{{product.name}}</a>
            </div>
            <!-- Price -->
            <div class="product-price d-flex align-items-center">{{product.price}}₫</div>
            <!-- Swatch -->
            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">
                <img src={{product.images.[0]}} alt="XNH"
                     class="active">
                <img src={{product.images.[1]}} alt="NAU">
            </div>
        </div>
    </div>
</div>