<div class="container-fluid mt-4">
    <div class="container">
        <h4>Danh sách sản phẩm: {{numProducts}}</h4>
        {{#if loading}}
        <h4 class="pt-4">Đang tải......</h4>
        {{else}}
            <table class="table">
                <thead>
                    <tr>
                        <th>Ảnh</th>
                        <th>Tên</th>
                        <th>Đánh giá</th>
                        <th>Giá tiền</th>
                        <th>Mô tả</th>
                        <th>Kích cỡ</th>
                        <th>Màu sắc</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                        <th>Phân loại</th>
                        <th>Ngày</th>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productsData}}
                        <tr>
                        <td>
                            {{#each images}}
                            <img src="{{this}}" alt="product" style="width: 50px; height: 50px;" />
                            {{/each}}
                        </td>
                        <td>{{name}}</td>
                        <td>{{rating_average}}</td>
                        <td>{{price}}</td>
                        // description hiển thị cả 2 theo hàng dọc, chung cột Mô tả
                        <td>
                            {{short_description}}
                            {{description}}
                        </td>
                        <td>{{quantity}}</td>
                        <td>{{status}}</td>
                        <td>{{categories}}</td>
                        <td>{{date}}</td>
                        <td>{{tags}}</td>
                        <td>
                            <button class="outline-button" style="border: no-border;" onclick="editProduct('{{this}}')">
                                <i class="las la-edit" style="font-size: 24px"></i>
                            </button>
                        </td>
                        <td>
                            <button class="primary-button" onclick="deleteProduct('{{this}}')">
                                XÓA
                            </button>
                        </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</div>