<div class="container-fluid mt-4">
    <div class="container">
        <h4>Danh sách sản phẩm: ({{ productsData.length }})</h4>
        {{#if loading}}
        <h4 class="pt-4">Đang tải......</h4>
        {{else}}
            <table class="table">
                <thead>
                    <tr>
                        <th>Ảnh</th>
                        <th>Tên</th>
                        <th>Giá</th>
                        <th>T.trạng</th>
                        <th>Kiểu giày</th>
                        <th>Tag</th>
                        <th>Qty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productsData}}
                        <tr>
                            <td>
                                {{#each images}}
                                    <img src="{{this}}" alt="product" style="width: 20px; height: 20px; margin-bottom: 1em;"/>
                                {{/each}}
                            </td>
                            <td>{{name}}</td>
                            <td>{{price}}</td>
                            <td>{{status}}</td>
                            <td>{{categories}} </td>
                            <td>{{tags}}</td>
                            <td>{{quantity}}</td>
                            <td>
                                <button class="primary-button" onclick="deleteProduct('{{this}}')">
                                    XÓA
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</div>